<template>
  <div class="card mt-2">
    <div class="image-card">
      <img
        class="card-img-top"
        :src="data.image"
      >
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{ data.pagetitle }}
      </h5>
      <p class="card-text">
        {{ data.metadescription }}
      </p>
      <div class="mt-1 mb-3">
        <span
          v-for="meta in data.metatags"
          :key="meta"
          class="badge badge-dark mr-1"
        >{{ meta }}</span>
      </div>
      <a
        target="_blank"
        :href="'/go/'+data.url_shortened"
        class="btn btn-primary"
      >Short Link</a>
      <a
        target="_blank"
        :href="data.url_redirect"
        class="btn btn-primary"
      >Original Link</a>
    </div>
    <div>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">
              #
            </th>
            <th scope="col">
              Date
            </th>
            <th scope="col">
              IP
            </th>
            <th scope="col">
              User Agent
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="visit in index,data.visits"
            :key="visit.id"
          >
            <th scope="row">
              {{ index }}
            </th>
            <td>{{ visit.created }}</td>
            <td>{{ visit.ip }}</td>
            <td>{{ visit.device }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>


<script>
export default {
  name: "UrlDetail",
  computed: {
    isLoading() {
      return this.$store.getters["url/isLoading"];
    },
    hasError() {
      return this.$store.getters["url/hasError"];
    },
    error() {
      return this.$store.getters["url/error"];
    },
    data() {
      return this.$store.getters["url/urls"];
    }
  },
  created() {
    console.log('URL:',this.$route.params.urlShorted);
    this.$store.dispatch("url/find",this.$route.params.urlShorted);
  },
  methods: {
    async createUrl() {
      const result = await this.$store.dispatch("url/create", this.$data.url_redirect);
      if (result !== null) {
        this.$data.url_redirect = "";
      }
    }
  }
};
</script>

