<template>
  <div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">
          URL Shortener
        </h1>
        <p class="lead">
          Create and search for a Short a URL and get the meta information.
        </p>
      </div>
    </div>

    <div class="row mb-3">
      <form class="col row">
        <div class="col-8">
          <input
            v-model="url_redirect"
            v-validate="'required|url:{require_protocol: true }'"
            name="urlRedirect"
            type="url"
            placeholder="Please provide a validate URL example: https://www.unleashed-technologies.com"
            class="
            form-control"
          >
          <div
            v-show="errors.has('urlRedirect')"
            class="text-danger mt-1"
          >
            {{ errors.first('urlRedirect') }}
          </div>
        </div>
        <div class="col-4">
          <button
            :disabled="url_redirect.length === 0 || isLoading || errors.has('urlRedirect')"
            type="button"
            class="btn btn-primary"
            @click="createUrl()"
          >
            Create
          </button>
        </div>
      </form>
    </div>
    <div
      v-if="isLoading"
      class="row col"
    >
      <p>Loading...</p>
    </div>

    <div
      v-else-if="hasError"
      class="row col"
    >
      <div
        class="alert alert-danger"
        role="alert"
      >
        {{ error }}
      </div>
    </div>

    <div
      v-else-if="!hasUrls"
      class="row col"
    >
      No URLS!
    </div>

    <div
      v-else
      v-masonry
      class="row"
      origin-left="false"
      transition-duration="1s"
      item-selector=".item"
    >
      <div
        v-for="url in urls"
        :key="url.id"
        v-masonry-tile
        class="col-sm-12 col-md-6 col-lg-4 item"
      >
        <Url :data="url" />
      </div>
    </div>
  </div>
</template>

<script>
import Url from "../components/Url";

export default {
  name: "Urls",
  components: {
    Url
  },
  data() {
    return {
      url_redirect: ""
    };
  },
  computed: {
    isLoading() {
      return this.$store.getters["url/isLoading"];
    },
    hasError() {
      return this.$store.getters["url/hasError"];
    },
    error() {
      return this.$store.getters["url/error"];
    },
    hasUrls() {
      return this.$store.getters["url/hasUrls"];
    },
    urls() {
      return this.$store.getters["url/urls"];
    }
  },
  created() {
    this.$store.dispatch("url/findAll");
  },
  methods: {
    createUrl() {
      this.$validator.validateAll().then((result_validation) => {
        if (result_validation) {
          const result = this.$store.dispatch("url/create", this.$data.url_redirect);
          if (result !== null) {
            this.$data.url_redirect = "";
          }
          return;
        }

        alert('Correct them errors!');
      });
    }
  }
};
</script>
