<template>
  <div class="card mt-2">
    <div class="image-card">
      <img
        class="card-img-top"
        :src="data.image"
      >
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{ data.pagetitle }}
      </h5>
      <p class="card-text">
        {{ data.metadescription }}
      </p>
      <div class="mt-1 mb-3">
        <span
          v-for="meta in data.metatags"
          :key="meta"
          class="badge badge-dark mr-1"
        >{{ meta }}</span>
      </div>
      <a
        target="_blank"
        :href="'/go/'+data.url_shortened"
        class="btn btn-primary"
      >Short Link</a>
      <a
        :href="'/view/'+data.url_shortened"
        class="btn btn-primary"
      >Details and Stats</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Url",
  props: {
    data: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
  .image-card{
    max-height: 330px;
    overflow: hidden;
  }
</style>
