{% extends 'base.html.twig' %}

{% block title %}Url index{% endblock %}

{% block body %}
    <h1>Url index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>MetaTags</th>
                <th>MetaDescription</th>
                <th>CanonicalUrl</th>
                <th>PageTitle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for url in urls %}
            <tr>
                <td>{{ url.id }}</td>
                <td>{{ url.name }}</td>
                <td>{{ url.Description }}</td>
                <td>{{ url.image }}</td>
                <td>{{ url.MetaTags ? url.MetaTags|json_encode : '' }}</td>
                <td>{{ url.MetaDescription }}</td>
                <td>{{ url.CanonicalUrl }}</td>
                <td>{{ url.PageTitle }}</td>
                <td>
                    <a href="{{ path('url_show', {'id': url.id}) }}">show</a>
                    <a href="{{ path('url_edit', {'id': url.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('url_new') }}">Create new</a>
{% endblock %}
