{% extends 'base.html.twig' %}

{% block title %}Url{% endblock %}

{% block body %}
    <h1>Url</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ url.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ url.Description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ url.image }}</td>
            </tr>
            <tr>
                <th>MetaTags</th>
                <td>{{ url.MetaTags ? url.MetaTags|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>MetaDescription</th>
                <td>{{ url.MetaDescription }}</td>
            </tr>
            <tr>
                <th>CanonicalUrl</th>
                <td>{{ url.CanonicalUrl }}</td>
            </tr>
            <tr>
                <th>PageTitle</th>
                <td>{{ url.PageTitle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('url_index') }}">back to list</a>

    <a href="{{ path('url_edit', {'id': url.id}) }}">edit</a>

    {{ include('url/_delete_form.html.twig') }}
{% endblock %}
